﻿@{
    ViewData["Title"] = "Kursova";
}

<a href="https://www.youtube.com/shorts/0w1eVJsKOZc" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="text-center">
        <h1 class="display-4">Привіт хуйлан</h1>
    </div>
</a>
<div class="button-container">
    <a asp-controller="Dishes" asp-action="ListDishes" class="btn btn-primary">Переглянути страви</a>
    <a asp-controller="Tables" asp-action="ListTables" class="btn btn-primary">Переглянути столи</a>
    <a asp-action="Administrator" asp-controller="Home" class="btn btn-primary">Адміністратор</a>
    <a asp-action="Admin" asp-controller="Home" class="btn btn-primary">Власник</a>
</div>

<a asp-action="GetPasswordByLogin" asp-controller="Employees" class="btn btn-primary top-right-btn">Відновити пароль</a>
<style>
    .top-right-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>

<style>
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    .btn {
        margin-bottom: 10px;
    }
</style>