﻿@{
    ViewData["Title"] = "Kursova";
}

<div class="text-center">
    <h1 class="display-4">Привіт хуйлан</h1>
</div>
<a asp-controller="Dishes" asp-action="AddDish" class="btn btn-primary">Додати страву</a>
<a asp-controller="Dishes" asp-action="ListDishes" class="btn btn-primary">Переглянути страви</a>
<a asp-controller="Dishes" asp-action="ManageDishes" class="btn btn-primary">Керування стравами</a>
<a asp-controller="Tables" asp-action="AddTable" class="btn btn-primary">Додати столик</a>

